html {
  /* background-color: rgb(248, 252, 253); */
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-width: 100vw;
  height: auto;
  transform: scaleY(-1);
  z-index: -9999;
  opacity: 0.4;
}

#footer-background {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100vw;
  /* min-width: 100vw; */
  height: 200px;
  z-index: -9999;
  opacity: 0.1;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
    url("../public/geo.png");
  background-repeat: repeat-x;
  background-size: 200px 200px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
}

.full-width-container {
  width: 100%;
}

.mobile-nav-item {
  text-decoration: none;
  color: black;
  font-size: 1.75em;
  width: 100%;
}

.nav-item {
  padding: 10px;
  font-size: 1.5rem;
}

.nav-item a,
.nav-item a:visted,
.mobile-nav-item a,
.mobile-nav-item a:visited {
  color: black;
}

.nav-item .active {
  text-decoration: underline;
}

.nav-item a {
  text-decoration: none;
}

.fancy-font-title {
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-date {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fancy-font-title {
    font-size: 14vw;
  }
  .title-date {
    font-size: 7vw;
  }
  #mobile-nav {
    display: block;
  }
  #desktop-nav {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fancy-font-title {
    font-size: 12vw;
  }
  .title-date {
    font-size: 6vw;
  }
  #mobile-nav {
    display: block;
  }
  #desktop-nav {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fancy-font-title {
    font-size: 10vw;
  }
  .title-date {
    font-size: 5vw;
  }
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fancy-font-title {
    font-size: 8vw;
  }
  .title-date {
    font-size: 4vw;
  }
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fancy-font-title {
    font-size: 6vw;
  }
  .title-date {
    font-size: 3vw;
  }
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
}
